body{
    position:absolute;
    display: flex;
    flex-direction: column;
    margin:0px;
    padding:0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400%;

}
.page{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    flex:1;
    align-items: flex-start;
    justify-content: center;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    background-color: black;
}
video{
    height: 25%;
    width: 100%;
    top: 0px;
    object-fit: cover;
    position: absolute;
}

.home{
    min-width: max-content;
    max-width: 100%;
    position: relative;
    top: 5%;
    display: flex;
    flex: 1;
    margin: 0 15%;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.greeting{
    display: flex;
    padding: 30px 0;
    flex: 4;
    width: 100%;
    flex-direction: column;
    border: solid 2px black;
}
h1{
    font-size: 200px;
    text-align: center;
    flex: 1;
    margin: 0px;
}

h2{
    text-align: center;
    font-size: 55px;
    flex: 1;
    padding: 0px;
    margin: 0px;
}


.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: initial;
    padding: 5px;
    margin: 0 5px;
}

.menu{
    margin-top: 10px;
    display: flex;
    width: 100%;
    margin: 0px;
}
button {
    flex: 1;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    color: black;
    text-shadow: 0px 0px 20px white;
    padding: 16px;
    height: 80px;
    font-size: 28px;
    width: 220px;
    margin-top: 5px;
}
.resume{
    margin-left:3px;
    margin-right:-2px;
}

.work{
    margin-right:3px;
    margin-left: -2px;

}

button:hover{
    color: white;
    text-shadow: none;
    font-size: 32px;
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.15);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 3;
    min-width: 50%;
    background-color: rgba(255,255,255,0.5);
    border: solid 2px black;
    margin: 5px;
}

.socials{
    margin: 8px;
    flex: 1;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
}

#icon{
    font-size: 30px;
    margin: 5px;
    padding: 7px;
}
#icon:hover{
    transition-duration: 0.75s;
    color: white;
}

.headshot{
    margin: 15px;
    height: 250px;
    width: 250px;
    border-radius: 300px;
}

a{
    text-decoration: none;
    color:black;
}
.description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px;
    padding: 0px;
    margin:0;
    width: 100%;
    max-width:400px;
    padding: 10px;    
}

.info{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.showcase{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    border: solid 2px green;
    height: 100%;

}
h3{
    font-size:36px;
}
.explanation{
    font-size: 24px;
    text-align: center;
}
.skillsShowcase{
    font-size: 24;
}

.sortShowcase{
    flex:1;
    align-self: center;
}
.sortingImages{}